{{extend 'layout.html'}}
{{"""

You should not modify this file. 
It is used as default when a view is not provided for your controllers

"""}}
{{block head}}
    <script src="{{=URL('static','js/jquery.mask.js')}}"></script>
      {{end}}
<div class="py-2" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</div>
                    <div class="card-body">
                        {{if len(response._vars)==1:}}
                        {{=BEAUTIFY(response._vars[next(iter(response._vars))])}}
                        {{elif len(response._vars)>1:}}
                        {{=BEAUTIFY(response._vars)}}
                        {{pass}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inclusão do CSS para Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- Inclusão do JavaScript para Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>
    jQuery(function($) {
        // Máscara para telefone
        $('#cliente_telefone, #delegacia_telefone, #associado_telefone').mask("(00) 00000-0009", { reverse: false });

        // Função de máscara para CPF e CNPJ
        var cpfCnpjOptions = {
            onKeyPress: function(cpfcnpj, e, field, options) {
                // Máscaras para CPF e CNPJ
                var mask = cpfcnpj.length < 15 ? '000.000.000-000' : '00.000.000/0000-00';
                $(field).mask(mask, options);
            }
        };

    });
    
        // Aplica a máscara inicial de CPF
        $('#cliente_cpf, #delegacia_cpf, #associado_cpf').mask('000.000.000-000', cpfCnpjOptions);
        
        // Aplicando o Select2 a todos os elementos com a classe 'form-control' assim que o documento estiver pronto
        
    // Aplicando o Select2 somente aos elementos <select> com a classe 'form-control'
    $(document).ready(function() {
        $('select.form-control').select2();
    });
</script>
