{{extend 'layout.html'}}
{{if True:}}

<div class="container-fluid pt-1 px-4">
    <div class="bg-light rounded p-4">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="mb-0">Lista de {{=pagina}}/{{=paginas}}</h6>
                </div>
                <div class="col-md-6" id="noprint">
                    <div class="form-group m-1">
                        <input type="text" class="form-control col-9 col-form-label ml-2" name="busca" placeholder="Pesquisar" id="input"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-success btn-sm" href="{{=URL('cadastrar')}}" >
                        <i class="fa fa-fw fa-plus"></i> Cadastrar
                    </a>
                </div>
                <div class="col-md-6" id="noprint">
                    {{if True:}}
                    {{include 'paginacao.html'}}
                    {{pass}}
                </div>
            </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th id="noprint" scope="col">Alterar</th>
                        <th scope="col">Data</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Valor</th>
                        <th id="noprint"  class="text-right">Acessar</th>
                    </tr>
                </thead>
                <tbody>
                    {{for row in rows:}}
                        <tr>
                            <td id="noprint" scope="row">
                                <a class="btn btn-warning btn-sm" href="{{=URL('alterar', args=[row.id])}}" >
                                    <i class="fa fa-fw fa-pencil-square "></i> 
                                    Alterar 
                                </a>
                            </td>
                            <td>{{=formatar_data(row.created_on)}}</td>
                            <td>{{=row}}</td>
                            <td>{{=dinheiro(0)}}</td>
                            <td id="noprint" class="text-right">
                                <a class="btn btn-info btn-sm" href="{{=URL('acessar', args=row.id)}}" >
                                    <i class="fa fa-fw fa-folder-open"></i> 
                                    Acessar 
                                </a>
                            </td>
                        </tr>
                    {{pass}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{if len(rows)>15:}}
<div class="row">
    <div class="col-md-6">
        <h5 class="text-left my-2">Pagina {{=pagina}}/{{=paginas}}</h5>
    </div>
    <div class="col-md-6"  id="noprint">
        {{if True:}}
            {{include 'paginacao.html'}}
        {{pass}}
    </div>
</div>
{{pass}}
{{pass}}

<script>
    // Adicione o atributo "autofocus" ao campo de entrada
    document.querySelector('#input').focus();
    var inputElement = document.querySelector('input[name=busca]');

    $(document).keypress(function(e) {
    if(e.which == 13) {
     var busca= inputElement.value;
        window.location.href = "{{=URL(args=[1])}}/"+busca
    }
});
</script>
