{{extend 'layout.html'}} <!-- Extensão para o layout principal -->

<div class="py-3 text-center">
    <div class="container">
        <!-- bloco 01 -->
        <div class="row">
            <div class="text-right  d-flex justify-content-between align-items-center">
                <!-- Informações de vendas do mês e link para alterar -->
                <p>Vendas do mês {{=dinheiro(0)}}</p>
                <span class="badge badge-primary badge-pill">
                    <a class="text-light" href="{{=URL('alterar')}}">{{=empresa.nome}}</a>
                </span> 
            </div>
            <hr> <!-- Linha horizontal -->
            <div class="row g-4">
                <!-- Blocos de informações -->
                <div class="col-sm-6 col-xl-3">
                    <!-- Bloco "À Receber" -->
                    <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-pie-chart fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">À Receber</p>
                            <hr>
                            <h6 class="mb-0">{{=dinheiro(0)}}</h6>
                        </div>
                    </div>
                </div>
                <!-- Outros blocos similares para "À Pagar", "Entradas/Mês" e "Pagamentos/Mês" -->
            </div>

                <!-- final do bloco 01 -->
  
                <!-- bloco 02 -->
            <div class="row">
                <div class="col-sm-6 col-xl-3">
                    <!-- Bloco "Pagamentos/Mês" -->
                    <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-area-chart fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Pagamentos/Mês</p>
                            <hr>
                            <h6 class="mb-0">{{=dinheiro(0)}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-6 col-6">
                    <!-- Bloco "Entradas Média Dia" -->
                    <div class="blockquote border">
                        <p class="mb-0 ">{{=dinheiro(0)}}</p>
                        <div class="blockquote-footer my-1">
                            Entradas Média Dia
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <!-- Bloco "Saídas Média Dia" -->
                    <div class="blockquote border">
                        <p class="mb-0 ">{{=dinheiro(0)}}</p>
                        <div class="blockquote-footer my-1">
                            Saídas Média Dia
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Final do bloco 02 -->
    </div>
</div>
